<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAamfTlgNIF-aXO7ZAyz3Zhy1AFnodk7U4</string>
	<key>GCM_SENDER_ID</key>
	<string>596802340673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.todoApp.dev</string>
	<key>PROJECT_ID</key>
	<string>todo-app-a6832</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-a6832.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596802340673:ios:fc3c760ba08f4bcae683c0</string>
</dict>
</plist>